ARTALK_AUTH_ENABLED=true
ARTALK_AUTH_ANONYMOUS=true
ARTALK_AUTH_GITHUB_ENABLED=true
ARTALK_AUTH_GITHUB_CLIENT_ID=replace-with-github-oauth-client-id
ARTALK_AUTH_GITHUB_CLIENT_SECRET=replace-with-github-oauth-client-secret
